//Override BootStrap with Custom SASS
//Bootstrap loaded at bottom

/* Company Site Pallete 
#f0425c;
/* See-through panel definitions */
.main-moduleselection {
    background-color: rgba(248, 240, 242, 0.2);
  }
  
  .bright-opacity {
    background-color: rgba(248, 240, 241, 0.6);
  }
  
  .light-opacity {
    background-color: rgba(248, 241, 244, 0.158);
  }
  
  .mid-opacity {
    background-color: rgba(248, 241, 248, 0.4);
  }
  
  .dark-opacity {
    background-color: rgba(#0b0c0f, 0.801);
  }
  
  .modal-opacity {
    background-color: rgba(228, 224, 227, 0.9);
  }
  
  /* Bootstrap Overrides */
  $primary: rgba(45, 90, 187, 0.664);
  $dark: rgb(78, 78, 78);
  $body-bg: #1b1d1e;
  
  body .btn-primary {
    color: white;
  }
  
  body .btn-primary:hover {
    color: white;
  }
  
  body .form-control {
      background-color: white;
  }

  //Import Bootsrap
  // @import '~bootstrap/scss/bootstrap'
  @import "../../node_modules/bootstrap/scss/bootstrap";
  
  body {
    font-family: "Lato", sans-serif;
  }